<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>香格里拉</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
    <link href="styles.css" rel="stylesheet">



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="OTEHP" ng-controller="MainController" id="MainControllerTag">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container d-flex justify-content-between">
            <a class="navbar-brand" href="#">
                香格里拉
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="./index.html">家园主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./FAQ.html">常见问答</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./Ropsten.html">Ropsten测试网络</a>
                    </li>
                    <!-- <li class="nav-item">
            <a class="nav-link active" href="./english.tml">English</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-href="./FAQ">FAQ</a>
          </li> 
          <li class="nav-item">
              <a class="nav-link " href="/me"><i class="fas fa-user"></i></a>
          </li>-->
                </ul>
            </div>
        </div>
    </nav>

    <main role="main">

        <div class="album py-5 bg-white">
            <div id="removeAfterLoad" class="text-center">
                <h2>加载中，世外桃源，香格里拉，即将呈现...</h2>
            </div>
            <canvas id="pixelsCanvas" width="1000" height="1000" style="padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 1000px;">
            </canvas>

        </div>


        <div class="album py-5 bg-white largerPadding">
            <div class="container text-center maxWidth60">
                <h2>这是什么？(本页面为测试网络，免费版）</h2>
                <p class="lead text-muted">蓝天白云，世外桃源；有识之士，比邻而居。</p>
                <p class="lead text-muted text-left">您眼前的是虚拟乐土类游戏，基于以太坊区块链的一款去中心化游戏程序。这是一片被称为世外桃源的虚拟乐土，永远 存在于区块链世界中。 这片土地包含了1万个地块，您可以购买并拥有所看中的地块。 每个地块包含了一个10X10的微图案，一个描述语句，一个链接信息。
                    成为地块业主后，您可以随时修改这些信息，并永久保存入区块链世界中。
                </p>
                <h2>各位玩家，请将MetaMask以太币钱包链接至Ropsten测试网络！以使本页面能够访问游戏数据。</h2>
            </div>
        </div>

        <div class="album py-5 bg-white largerPadding">
            <div class="container text-center maxWidth60">
                <h2>这款游戏有哪些特色？</h2>
                <p class="lead text-muted text-left">真心恒久远，一块永流传！ 乐土虽虚拟，信息能恒久。一块或一片乐土，设计个性图案、描述、链接，可以散发独有魅力，传播价值信息。 您拥有的地块，只要您不进行挂牌出售，您就永远拥有它! 请保管好购买香格里拉地块的以太币账号，一旦丢失，无人能恢复。但地块永久属于持有者，信息永存。
                    想了解更多，请浏览
                    <a href="/FAQ">常见问答</a>!</p>
                <h2>测试版本，尽情享受。喜欢请移步至正式版
                    <a href="/index.html">家园主页</a>!</p>
                </h2>
            </div>
        </div>

        <div class="album py-5 bg-white largerPadding">
            <div class="container text-center maxWidth60">
                <h2>如何参与游戏？</h2>
                <p class="lead text-muted text-left">鼠标悬停于虚拟地块上方，可从左下角或右下角跳出的窗口浏览地块信息。点击选中的地块，可以购买。 请使用Chrome或FireFox浏览器及MetaMask插件,这是一款浏览器以太币钱包。 请确认
                    <a href="https://metamask.io/" target="_blank">MetaMask</a> 已账户解锁（已登录），选择您想使用的账户，并连接到Ropsten network。 每次发出交易信息，均需
                    <big>
                        <big>耐心</big>
                    </big>等待十几秒到几十秒，等待浏览器弹出的窗口反馈结果。如果给出的区块链手续费较低， 会导致本次交易的确认时间更长。时间过长，可点击MataMask，查看发送到网络的交易是等待中，还是失败。 也可点击相应地块，查看最新信息。
                    MataMask的使用，可参考这个教程http://8btc.com/thread-76137-1-5.html。
                </p>
            </div>
        </div>

        <div class="album py-5 bg-white largerPadding">
            <div class="container text-center maxWidth60">
                <h2>费用有哪些？能赚钱吗？</h2>
                <p class="lead text-muted text-left">购买地块，更改地块信息，都需要发起以太坊的“交易”，即使交易金额为零，也会支付区块链手续费。 另外，挂牌出售地块，交易成功 后，会被扣除1芬妮的小费（1/1000以太币）。区块链处理速度有延迟，每个“交易”，请耐心等待几十秒。
                    读取和查阅信息，是免费的，也很快。
                </p>
                <p class="lead text-muted text-left">能赚钱吗？虽然能转让，但是虚拟地块比不得真实地块，无实际价值，绝非投资品种，就只是游戏而已，不必太当真。 每个地块的初始发售价格为10芬妮（测试网络中，以太币和芬妮都是假的，实际免费），目前相当于人民币30元。地块数量上限不可修改，只有1万个地块。区块链合约的创建者有权更改发售价格。
                    我们团队计划，空白地块售出30%后，发售价提高至20芬妮；60%后，提高至30芬妮；90%后，50芬妮。地块一旦售出，权利属于新业主。 我们没有能力做任何干涉。合约源代码请见github.com/VirtualLands/VirtualLands-Contract,网页端软件请见github.com/VirtualLands/VirtualLands.github.io
                    。 想了解更多，请浏览
                    <a href="/FAQ">常见问答</a>!
                </p>

            </div>
        </div>

        <div class="album py-5 bg-white largerPadding">
            <div class="container text-center maxWidth60">
                <p>
                    <button ng-click="myBalance()" type="button" class="float-left btn btn-outline-primary btn-lg">查询我的余额</button>
                    <button ng-click="withdrawMyEther()" type="button" class="float-left btn btn-outline-primary btn-lg">提取我的余额</button>
                    <br>
                </p>
                <div>
                    <textarea id="myShow" class="form-control textarea">  </textarea>
                </div>
            </div>
        </div>

    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="" onclick="scrollToTop()">返回顶端</a>
            </p>
            <p>VirtualLands 香格里拉</p>
            <p>欲了解更多？
                <a href="/FAQ">访问FAQ</a> 或联系我
                <a href="mailto:HooSeaTone@163.com">电子邮件</a>
            </p>
            <p> 更多区块链DApp程序和游戏，可访问
                <a href="https://www.stateofthedapps.com/">StateOfTheDapps</a>
            </p>

        </div>
    </footer>


    <!-- Right, bottom side infos -->
    <div id="pixelInfos" class="card" ng-if="infosPopUp" ng-cloak>
        <div class="card-header">
            <span ng-if="tokenInfos[cHOTID] != null">
                <span>Owner:
                    <img ng-src="https://robohash.org/{{tokenInfos[cHOTID].owner}}.png?set=set3&size=36x36" />
                    <span class="text-muted">{{ tokenInfos[cHOTID].owner }}</span>
                </span>
            </span>
            <span ng-if="tokenInfos[cHOTID] == null">待售地块</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">香格里拉号:
                <strong>{{cHOTID}}</strong>
            </h5>
            <span ng-if="tokenInfos[cHOTID] != null && tokenInfos[cHOTID].description.length > 0">标识: "
                <span class="text-muted">{{tokenInfos[cHOTID].description}}</span>"
                <br>
            </span>

            <span ng-if="tokenInfos[cHOTID] != null && tokenInfos[cHOTID].link.length > 0">链接: "
                <span class="text-muted">{{tokenInfos[cHOTID].link}}</span>"
                <br>
            </span>

            <span ng-if="tokenInfos[cHOTID] != null && tokenInfos[cHOTID].price > 0">正在挂牌出售中，价格： "
                <span class="text-muted">{{tokenInfos[cHOTID].price}}</span> finney"
            </span>

            <p class="card-text">点击查看详细信息!</p>
        </div>
    </div>

    <!-- On click on a land, the modal that shows up -->
    <div class="modal fade" tabindex="-1" role="dialog" id="tokenInfosModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">香格里拉号:
                        <strong>{{cHOTID_clicked}}</strong>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Doesn't belong to anyone -->
                    <p ng-if="tokenInfos[cHOTID_clicked] == null">
                        <span class="text-success">该地块不属于任何人，你可以购买拥有!</span>

                    </p>
                    <!-- Belongs to someone -->
                    <p ng-if="tokenInfos[cHOTID_clicked] != null">
                        <span>Owner:
                            <img ng-src="https://robohash.org/{{tokenInfos[cHOTID_clicked].owner}}.png?set=set3&size=36x36" />
                            <span class="text-muted">{{ tokenInfos[cHOTID_clicked].owner }}</span>
                        </span>
                    </p>
                    <!-- Belongs to the current user -->
                    <p ng-show="tokenInfos[cHOTID_clicked] != null && tokenInfos[cHOTID_clicked].owner == currentAccount" class="text-center">

                        <input type='text' id="flat" />

                        <canvas id="bigPixelsCanvas" width="300" height="300" style="padding-left: 0;
                            padding-right: 0;
                            margin-left: auto;
                            margin-right: auto;
                            display: block;
                            width: 300px;">
                        </canvas>

                        <br>

                        <button type="button" class="btn btn-outline-primary btn-lg" ng-click="saveColors()">已绘画好，保存新图</button>

                        <br>

                        <form ng-show="tokenInfos[cHOTID_clicked] != null && tokenInfos[cHOTID_clicked].owner == currentAccount">

                            <hr>

                            <div class="form-group text-center">
                                <!--<label style="font-size: 2em">Description</label>-->
                                <input class="form-control" type="text" name="LandDescription" ng-model="tokenInfos[cHOTID_clicked].description" class="form-control"
                                    placeholder="地块描述" required>
                                <small class="form-text text-muted">输入你的地块描述语</small>

                                <br>
                                <button type="button" class="btn btn-outline-info btn-lg" ng-click="saveDescription()">保存新的地块描述语</button>
                            </div>

                            <hr>

                            <div class="form-group text-center">
                                <input class="form-control" type="text" name="LandLink" ng-model="tokenInfos[cHOTID_clicked].link" class="form-control" placeholder="地块链接"
                                    required>
                                <small class="form-text text-muted">输入你的地块链接信息</small>
                                <br>
                                <button type="button" class="btn btn-outline-primary btn-lg" ng-click="saveLink()">保存新的链接</button>
                            </div>

                            <hr>

                            <div class="form-group text-center">
                                <input class="form-control" type="text" name="LandPrice" ng-model="tokenInfos[cHOTID_clicked].price" class="form-control"
                                    placeholder="出售价格" required>
                                <small class="form-text text-muted">万请慎重输入价格，以finney为价格单位。1以太=1000finney。价格出错，可能造成损失。可以输入新价格挂牌，覆盖旧价格。（出售成功，会被收取1finney小费）</small>
                                <br>
                                <button type="button" class="btn btn-outline-primary btn-lg" ng-click="sellMyLand()">我要标价出售此地块</button>

                        </form>
                    </p>

                    <p ng-if="tokenInfos[cHOTID_clicked] != null && tokenInfos[cHOTID_clicked].owner != currentAccount">
                        <span ng-if="tokenInfos[cHOTID_clicked].description.length > 0">Description: "
                            <span class="text-muted">{{tokenInfos[cHOTID_clicked].description}}</span>"</span>

                        <br>

                        <span ng-if="tokenInfos[cHOTID_clicked].link.length > 0">Link: "
                            <span class="text-muted">{{tokenInfos[cHOTID_clicked].link}}</span>"</span>
                    </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success btn-lg btn-block" ng-if="tokenInfos[cHOTID_clicked] == null" ng-click="buyInitialToken()">我要购买</button>

                        <button type="button" class="btn btn-outline-success btn-lg btn-block" ng-if="tokenInfos[cHOTID] != null && tokenInfos[cHOTID].price > 0 && tokenInfos[cHOTID_clicked].owner != currentAccount"
                            ng-click="buyTokenFromOthers()">我要购买</button>


                        <span ng-if="tokenInfos[cHOTID] != null && tokenInfos[cHOTID].price > 0">正在挂牌出售中，价格： "
                            <span class="text-muted">{{tokenInfos[cHOTID].price}}</span> finney"
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scripts -->

        <!-- Bootstrap 4 -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <!-- Angular JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>

        <!-- IPFS JS -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/ipfs/dist/index.min.js"></script> -->

        <!-- Big Number -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/6.0.0/bignumber.min.js"></script>

        <!-- Color picker -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>

        <!-- Smart contract interaction -->
        <script src="https://cdn.jsdelivr.net/npm/web3@0.20.6/dist/web3.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/truffle-contract@3.0.4/dist/truffle-contract.min.js"></script>
        <script src="./JS/angularApp.js"></script>
        <script src="./JS/app-ropsten.js"></script>

        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</body>


</html>